<table class="table">
    <thead>
        <th>ID</th>
        <th>NPU</th>
        <th>Data De Cadastro</th>
        <th>Data De Visualização</th>
        <th>Estado</th>
        <th>Municipío</th>
        <th>Selecionar</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of processos">
            <td>{{p.id}}</td>
            <td>{{formatarNpu(p.npu)}}</td>
            <td>{{formatarData(p.dataCadastro)}}</td>
            <td>{{formatarData(p.dataVisualizacao)}}</td>
            <td>{{p.uf}}</td>
            <td>{{p.municipio}}</td>
            <td>
                <a routerLink='/form'><button class="btn-opc" (click)="findById(p)"><img src="../../assets/editpng.png" class="img-opc"></button></a>
                <button class="btn-opc" (click)="deleteById(p.id)"><img src="../../assets/delete.png" class="img-opc"></button>
            </td>
        </tr>
    </tbody>
</table>

<a routerLink='/form' class="centro"><button class="botao destaque">Cadastrar Processo</button></a>